body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Навигация */
.main-navigation ul {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #9ac2db;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #b2b2b2;
}

/* Блок приветствия */
.intro-image {
  background-color: #81b3d2;
  background:
  url("../img/background-decor.png") no-repeat left bottom,
  url("../img/background-photo.jpg") no-repeat 0 0;

}

.intro-text{
  text-align: center;
}

.intro-text b {
  font-size: 21px;
  line-height: 26px;

}

.intro-text p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

/* Блок преимуществ Седоны №1,2 */
.advantage-item {
  background-color: #81b3d2;
  text-align: center;
}

.advantage-item {
  color: #ffffff;
  line-height: 21px;
}
.advantage-item h3 {
  font-size: 21px;
}

.advantage-item span {
  font-size: 14px;
  font-weight: normal;
}

.advantage-item p {
  font-size: 14px;
  font-weight: normal;
}

/* Блок особенностей Седоны */
.features-item {
  text-align: center;
  line-height: 21px;
}

.features-item h3 {
  font-size: 21px;
}

.features-item p {
  font-size: 14px;
  font-weight: normal;
}

/* Блок описания Седоны */
.description {
  background-color: #eeeeee;
}

.description-item {
  line-height: 21px;
  text-align: center;
}

.description-item h3 {
  font-size: 21px;
}

.description-item span {
  font-size: 14px;
  font-weight: normal;
}

.description-item p {
  font-size: 14px;
  font-weight: normal;
}

/* Поиск гостиниц в Седоне */
.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.button-search {
  width: 570px;
  height: 85px;
  font: inherit;
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-search:hover,
.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #857871;
  background-color: #503e33;
}

/* Pop-up для поиска */
.modal-search {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}


.modal-search input {
  font: inherit;

  width: 350px;
  height: 40px;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.modal-search input:hover {
  background-color: #ebebeb;
}

.modal-search input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}


/* Кнопка календаря */
.button-calendar {
  background-image: url("../img/calendar.png");
  border: none;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  outline: none;
}
.button-calendar:hover {
  background-image: url("../img/calendar-hover.png");
}

.button-calendar:active {
  background-image: url("../img/calendar-active.png");
}

.button-find {
  width: 458px;
  height: 58px;
  font: inherit;
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;

}

/*Карта*/
.map {
  text-align: center;
}

/*Социальные иконки*/
.footer-social li {
  display: inline-block;
  list-style: none;
  outline: 1px solid black;
  margin-right: 10px;
  vertical-align: top;
  outline: 1px solid #aac8fa;
}
.button-social {
  width: 45px;
  height: 48px;
  outline: 0px solid #e8bd14;
  background-color: #81b3d2;
  display: block;
  text-indent: px;
  background-repeat: no-repeat;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
}

.button-social.twitter {
  background-image: url("../img/icon-twitter.svg")
}
.button-social.facebook {
  background-image: url("../img/icon-facebook.svg")
}
.button-social.youtube {
  background-image: url("../img/icon-youtube.svg")
}
.button-social.twitter:active {
  background-image: url("../img/icon-twitter-active.svg")
}
.button-social.facebook:active {
  background-image: url("../img/icon-fb-active.svg")
}
.button-social.youtube:active {
  background-image: url("../img/icon-youtube-active.svg")
}
