body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 12px 0  #dbdbdb;
}

/* Навигация */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.site-navigation a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.302;
}

.site-navigation-current a {
  color: #766357;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li {
  width: 20%;
  margin: 0;
  padding: 0;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  margin-left: 6%;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  margin-right: 6%;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  z-index: 1;
}

/* Вступительная картинка */
.intro-image {
  min-height: 510px;
  background-image: url("../img/background-photo.jpg");
  padding-top: 77px;
  box-sizing: border-box;
  position: relative;
}

.intro-title {
  display: block;
  margin: 0 auto
}

.intro-image:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background-image: url("../img/background-decor.png");
  background-position: center;
  height: 57px;
  width: 100%;
}

/* Блок приветствия */
.intro-text {
  display: block;
  margin: 0 auto;
}

.intro-text b {
  display: block;
  width: 450px;
  min-height: 50px;
  margin: auto;
  margin-top: 59px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.intro-text p {
  display: block;
  width: 500px;
  min-height: 20px;
  margin: auto;
  margin-top: 27px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

/* Блок преимуществ Седоны №1,2 */
.advantage-item {
  width: 34%;
  padding-bottom: 20px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  line-height: 21px;
}

.advantage-item h3 {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  width: 170px;
  font-size: 21px;
  line-height: 21px;
}

.advantage-item span {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  width: 75px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.advantage-item p {
  margin: 0 auto;
  margin-top: 22px;
  width: 301px;
  font-size: 14px;
  font-weight: normal;
}

.advantage-image {
  position: relative;
  width: 68%;
  overflow: hidden;
}

.advantage-image img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -68px;
}

/* Блок особенностей */
.features {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 83px;
  width: 1200px;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 23px;
}

.features-item p {
  width: 300px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

/* Блок описания Седоны */
.description {
  display: flex;
  justify-content: space-around;
  min-height: 255px;
  background-color: #eeeeee;
}

.description-item {
  line-height: 21px;
  text-align: center;
  width: 33%;
}

.description-item h3 {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-top: 47px;
  font-size: 21px;
}

.description-item span {
  display: block;
  width: 60px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 14px;
  font-weight: normal;
}

.description-item p {
  display: block;
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
}

/* Поиск гостиниц в Седоне */
.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.button-search {
  width: 570px;
  min-height: 85px;
  font: inherit;
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}

.button-search:hover, .button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #857871;
  background-color: #503e33;
}

/* Pop-up для поиска */
.modal-search:after {
  content: "";
  clear: both;
  display: table;
}

.modal-search {
  position: absolute;
  left:50%;
  transform:translate(-50%);
  width: 570px;
  height: 395px;
  padding: 54px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
}

.modal-search-wrappe {
  width: 475px;
  height: 300px;
}

/*поле заезда*/
.arrival {
  margin-bottom: 27px;
  padding-left: 4px;
}

.arrival input {
  position: relative;
  font: inherit;
  width: 334px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-left: 20px;
  padding-left: 12px;
}

/*поле выезда*/
.departure {
  margin-bottom: 27px;
  padding-left: 4px;
}

.departure input {
  position: relative;
  font: inherit;
  width: 334px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-left: 16px;
  padding-left: 12px;
}

/* Кнопка календаря */
.arrival .button-calendar {
  position: absolute;
  right: 65px;
  top: 63px;
  background-image: url("../img/calendar.png");
  border: none;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 21px;
  min-height: 22px;
  outline: none;
  cursor: pointer;
}

.departure .button-calendar {
  position: absolute;
  right: 65px;
  top: 130px;
  background-image: url("../img/calendar.png");
  border: none;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 21px;
  min-height: 22px;
  outline: none;
  cursor: pointer;
}

.button-calendar:hover {
  background-image: url("../img/calendar-hover.png");
}

.button-calendar:active {
  background-image: url("../img/calendar-active.png");
}

.modal-search-wrappe input:hover {
  background-color: #ebebeb;
}

.modal-search-wrappe input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.hotel-form-search1 {
  margin-top: 8px;
  float: left;
  margin-right: 33px;
  margin-left: 3px;
}

.hotel-adults {
  float: left;
  margin-right: 53px;
  margin-left: 8px;
  font-size: 0;
}

.hotel-adults input,
.hotel-children input {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 7px;
  text-align: center;
}

.hotel-adults button,
.hotel-children button {
  font-family: "PT Sans", sans-serif;
  width: 38px;
  font-size: 21px;
  font-weight: 700;
  color: #a9a9a9;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

.hotel-form-search2 {
  margin-top: 8px;
  float: left;
  margin-right: 15px;
}

.hotel-children {
  float: right;
  font-size: 0;
  margin-right: 13px;
}

.hotel-form label {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.hotel-btn {
  width: 458px;
  background-color: #81b3d2;
  border: none;
  margin-top: 55px;
  margin-left: 3px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  padding: 17px;
  outline: none;
}

.modal-search-wrappe .hotel-btn:hover {
  background-color: #669ec0;
}

.modal-search-wrappe .hotel-btn:active {
  background-color: #5496bd;
  color: #81b2ce;
}

.button-minus:hover {
  color: #000000;
}

.button-minus:active {
  color: #81b3d2;
}

.button-plus:hover {
  color: #000000;
}

.button-plus:active {
  color: #81b3d2;
}

/*Карта*/
.map {
  display: block;
  height: 473px;
  margin: 0 auto;
  background-image: url("../img/map.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
}

/*Социальные иконки*/
.footer-social li {
  display: inline-block;
  list-style: none;
  margin-right: 2px;
  vertical-align: top;
}

.button-social {
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
  display: block;
  background-repeat: no-repeat;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
}

.twitter {
  background-image: url("../img/icon-twitter.png");
  background-position: 15px 17px;
}

.facebook {
  background-image: url("../img/icon-facebook.png");
  background-position: 17px 13px;
}

.youtube {
  background-image: url("../img/icon-youtube.png");
  background-position: 13px 16px;
}

.twitter:active {
  background-image: url("../img/icon-twitter-active.png");
}

.facebook:active {
  background-image: url("../img/icon-facebook-active.png");
}

.youtube:active {
  background-image: url("../img/icon-youtube-active.png");
}

/*Логотип в футере*/
.footer-logo {
  display: block;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy.png");
  background-repeat: no-repeat;
  margin-left: 7px;
  margin-top: 5px;
}

.footer-logo:hover {
  background-image: url("../img/logo-htmlacademy-hover.png");

}

.footer-logo:active {
  background-image: url("../img/logo-htmlacademy-active.png");
}

/*-----------------Страница catalog.html------------------------*/
.filter {
  display: flex;
  height: 217px;
}

.filter-infrastructure {
  margin-top: 28px;
  margin-left: 63px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.filter-house {
  margin-top: 28px;
  margin-left: 36px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.price {
  margin-top: 28px;
  margin-left: 263px;
  margin-bottom: 5px;
}

.filter-option{
  min-height: 130px;
  padding-top: 5px;
}

.filter-option li{
  margin-bottom: 26px;
  margin-right: 44px;
  width: 100px;
  text-align: left;
}

.filters {
  background-image: url("../img/filter-background.png");
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.filters fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
}

.filters ul {
  list-style: none;
}

.price-controls {
  width: 300px;
  min-height: 36px;
  border: 1px solid #e8bd14;
}

.price-controls input {
  background-color: transparent;
  border: none;
  width: 100px;
}

.skroll {
  width: 350px;
  background: #918381;
  min-height: 3px;
  margin-top: 20px;
  position: relative;
}

.skroll_left, .skroll_right {
  position: absolute;
  display: block;
  min-height: 20px;
  background: url("../img/filter-button.svg");
  height: 20px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
  border: none;
}

.skroll_left {
  left: 50px;
}

.skroll_right {
  right: 50px;
}

.skroll_field {
  width: 293px;
  min-height: 3px;
  background: #ffffff;
  position: absolute;
  left: 54px;
}

.button-results {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  width: 137px;
  min-height: 36px;
}

/*Сортировка*/
.sorting {
  min-height: 85px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: baseline;
}

.sorting h2 {
  margin-left: 75px;
  margin-top: 29px;
}

.sorting ul {
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
padding: 0;
}

.sorting-item {
  margin-left: 52px;
}

.sorting-type {
  color: #c6c6c6;
  border-bottom: 1px dotted #81b3d2;
  margin-left: 37px;
}

.sorting-type-active {
  color: #b3d1e4;
}

.sorting-up-down {
  margin-left: 500px;
  padding: 0;
  width: 35px;
  justify-content: space-between;
}

.sorting-up-active {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sorting-down {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

/*Результаты*/
.hotel-category {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.button-detals {
  display: inline-block;
  text-align: center;
  width: 110px;
  min-height: 25px;
  background-color: #81b3d2;
  color: #ffffff;
  margin-top: 14px;
}

.button-detals:hover {
  background-color: #669ec0;
}

.button-detals:active {
  background-color: #5496bd;
  color: #7aadcb;
}

.button-reserv {
  display: inline-block;
  text-align: center;
  width: 140px;
  min-height: 25px;
  background-color: #766357;
  color: #ffffff;
  margin-top: 14px;
}

.button-reserv:hover {
  background-color: #604e43;
}

.button-reserv:active {
  background-color: #503e33;
  color: #857871;
}

.main-navigation {
  display: flex;
  justify-content: center;
}

/* Блок преимуществ */
.advantage {
  display: flex;
  min-height: 256px;
  justify-content: center;
  margin-top: 53px;
}

/* Блок описания Седоны */
.search {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.main-footer {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.footer-visit {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin-left: 132px;
}

.footer-social {
  width: 250px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin-left: 187px;
}

.footer-copyright {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-left: 197px;
}

/*-----------------Результат поиска-------------------*/
.results {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 455px;
}

.hotel-result {
  display: flex;
  border-bottom: 1px solid grey;
}

.hotel-image {
  margin-left: 73px;
  margin-top: 31px;
  margin-bottom: 30px;
}

.hotel-description {
  margin-left: 31px;
  margin-top: 26px;
  margin-bottom: 30px;
}

.hotel-wrap {
  margin-top: 7px;
  margin-right: 5px;
}

.hotel-wrap span {
  display: block;
}

.hotel-name{
  padding: 0;
  margin: 0;
}

.hotel-info {
  display: flex;
}

/*----------------Рейтинг----------------------*/
.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 508px;
  width: 150px;
}

.rating-stars {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  padding-right: 29px;
}

.star {
  padding-left: 5px;
}

.rating-text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  text-align: center;
  width: 100px;
  margin-left: 17px;
}
