body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}


/*visually-hidden {
  display: none;
}*/


/* Навигация */

.main-navigation ul {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #9ac2db;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #b2b2b2;
}


/* Блок приветствия */

.intro-image {
  background-color: #81b3d2;
  background: url("../img/background-decor.png") no-repeat left bottom, url("../img/background-photo.jpg") no-repeat 0 0;
}

.intro-text {
  text-align: center;
}

.intro-text b {
  font-size: 21px;
  line-height: 26px;
}

.intro-text p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}


/* Блок преимуществ Седоны №1,2 */

.advantage-item {
  background-color: #81b3d2;
  text-align: center;
}

.advantage-item {
  color: #ffffff;
  line-height: 21px;
}

.advantage-item h3 {
  font-size: 21px;
}

.advantage-item span {
  font-size: 14px;
  font-weight: normal;
}

.advantage-item p {
  font-size: 14px;
  font-weight: normal;
}


/* Блок особенностей Седоны */

.features-item {
  text-align: center;
  line-height: 21px;
}

.features-item h3 {
  font-size: 21px;
}

.features-item p {
  font-size: 14px;
  font-weight: normal;
}


/* Блок описания Седоны */

.description {
  background-color: #eeeeee;
}

.description-item {
  line-height: 21px;
  text-align: center;
}

.description-item h3 {
  font-size: 21px;
}

.description-item span {
  font-size: 14px;
  font-weight: normal;
}

.description-item p {
  font-size: 14px;
  font-weight: normal;
}


/* Поиск гостиниц в Седоне */
.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.button-search {
  width: 570px;
  height: 85px;
  font: inherit;
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-search:hover, .button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #857871;
  background-color: #503e33;
}


/* Pop-up для поиска */
.modal-search {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.modal-search input {
  font: inherit;
  width: 350px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.modal-search input:hover {
  background-color: #ebebeb;
}

.modal-search input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}


/* Кнопка календаря */
.button-calendar {
  background-image: url("../img/calendar.png");
  border: none;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  outline: none;
}

.button-calendar:hover {
  background-image: url("../img/calendar-hover.png");
}

.button-calendar:active {
  background-image: url("../img/calendar-active.png");
}

/* Кнопка Найти */
.button-find {
  width: 458px;
  height: 58px;
  font: inherit;
  font-size: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  background-color: #5496bd;
  color: #81b2ce;
}

/* Кнопка Минус и Плюс */
.button-minus {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-minus.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.button-plus {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-plus.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}


/*Карта*/
.map {
  text-align: center;
}


/*Социальные иконки*/
.footer-social li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  vertical-align: top;
}

.button-social {
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
  display: block;
  background-repeat: no-repeat;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
}

.button-social.twitter {
  background-image: url("../img/icon-twitter.svg");
}

.button-social.facebook {
  background-image: url("../img/icon-facebook.svg");
}

.button-social.youtube {
  background-image: url("../img/icon-youtube.svg");
}

.button-social.twitter:active {
  background-image: url("../img/icon-twitter-active.svg");
}

.button-social.facebook:active {
  background-image: url("../img/icon-fb-active.svg");
}

.button-social.youtube:active {
  background-image: url("../img/icon-youtube-active.svg");
}

/*Логотип в футере*/
.footer-logo {
  display: block;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.footer-logo:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");

}

.footer-logo:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}


/*-----------------Страница catalog.html------------------------*/

.filters {
  background-image: url("../img/filter-background.png");
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  list-style: none;
}

.price-controls {
  width: 318px;
  height: 36px;
  border: 1px solid #e8bd14;
}

.price-controls input {
  background-color: transparent;
  border: none;
  outline: 1px solid black;
  width: 100px;
}

.skroll {
  width: 400px;
  background: #918381;
  height: 3px;
  margin-top: 20px;
  position: relative;
}

.skroll_left, .skroll_right {
  position: absolute;
  display: block;
  width: 20px;
  background: url("../img/filter-button.svg");
  height: 20px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
  border: none;
}

.skroll_left {
  left: 50px;
}

.skroll_right {
  right: 50px;
}

.skroll_field {
  width: 293px;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 54px;
}

.button-results {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  width: 137px;
  height: 36px;
}


/*Сортировка*/

.sorting ul {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-type-active {
  color: #b3d1e4;
}

.sorting-type {
  color: #c6c6c6;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-up-active {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sorting-down {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}


/*Результаты*/

.hotel-category {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.button-detalis {
  display: inline-block;
  text-align: center;
  width: 110px;
  height: 25px;
  background-color: #81b3d2;
  color: #ffffff;
}

.button-detalis:hover {
  background-color: #669ec0;
}

.button-detalis:active {
  background-color: #5496bd;
  color: #7aadcb;
}

.button-reserv {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 25px;
  background-color: #766357;
  color: #ffffff;
}

.button-reserv:hover {
  background-color: #604e43;
}

.button-reserv:active {
  background-color: #503e33;
  color: #857871;
}

.rating-stars {
  list-style: url("../img/star.svg");
}

.rating-text {
  display: inline-block;
  width: 111px;
  text-align: center;
  height: 23px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
}
